:root {
  --background-color: #f5f5f4;
  --text-color: #333;
  --window-border-radius: 6px;
  --font-size: 14px;
}

/* The arrow at the top of the window */
.header-arrow {
  position: absolute;
  top: 2px;
  left: 50%;
  margin-left: -5px;
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
  background-color: #e8e6e8;
}

.window {
  position: absolute;
  top: 5px;
}

.window-content {
  background-color: var(--background-color);
  flex-direction: column;
  padding: 10px;
}

.device {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.device .product,
.battery .percent,
.muted .bool {
  font-weight: bold;
}

.device .details {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
}
